.wrapper {
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.full_image {
  height: 100%;
  width: 100%; }

.no_wrap {
  white-space: nowrap; }

.white {
  color: #fff; }

.black {
  color: #000; }

.bg_white {
  background-color: #fff; }

.pc_only {
  display: block; }
  @media screen and (max-width: 769px) {
    .pc_only {
      display: none; } }

.pc_only_inline {
  display: inline; }
  @media screen and (max-width: 769px) {
    .pc_only_inline {
      display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 769px) {
    .sp_only {
      display: block; } }

.inline {
  display: inline; }

.bold {
  font-weight: bold; }

.no_bold {
  font-weight: 300; }

.flex {
  display: flex; }

.tac {
  text-align: center; }

.m0a {
  margin: 0 auto; }

.object_contain {
  object-fit: contain; }

.object_cover {
  object-fit: cover; }

.opacity0 {
  opacity: 0; }

.circle {
  border-radius: 50%; }

.gold {
  color: #8b7246; }

a {
  color: black; }

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8.3333333333vw 0vw 0vw 0vw;
  font-family: Kinto Sans; }
  @media screen and (min-width: 1200px) {
    section {
      padding: 100px 0px 0px 0px; } }

.fill {
  max-width: 100%; }

img {
  height: 100%;
  width: 100%; }

.title_block {
  position: relative;
  font-family: Copperplate;
  font-size: 3.3333333333vw;
  padding: 0vw 0vw 2.5vw 5.3333333333vw;
  border-bottom: 0.12vw gray solid; }
  @media screen and (min-width: 1200px) {
    .title_block {
      font-size: 40px; } }
  @media screen and (min-width: 1200px) {
    .title_block {
      padding: 0px 0px 30px 64px; } }
  @media screen and (min-width: 1200px) {
    .title_block {
      border-bottom: 2px gray solid; } }
  .title_block:before {
    position: absolute;
    bottom: 0;
    width: 64px;
    color: #8b7246;
    height: 0.12px; }
    @media screen and (min-width: 1200px) {
      .title_block:before {
        height: 2px; } }

header {
  position: fixed;
  font-family: Copperplate;
  font-size: 1.25vw;
  height: 6.25vw;
  max-height: none;
  width: 100%;
  z-index: 3; }
  header .header_list {
    height: 100%;
    padding: 0vw 5.625vw;
    text-align: center; }
    header .header_list ul {
      height: 100%;
      display: flex;
      align-items: center; }
      header .header_list ul li {
        padding: 0.3125vw 1.5625vw; }
        header .header_list ul li:hover {
          border-bottom: #8b7246 0.12vw solid; }

.kv {
  background-image: url("../img/kv_pc.png");
  height: 59.375vw;
  max-height: none;
  background-size: cover;
  position: relative;
  z-index: 2; }
  .kv .text_block {
    font-family: Futura;
    position: absolute;
    top: 50%;
    left: 5%; }
    .kv .text_block .sub_title {
      font-size: 4.375vw; }
    .kv .text_block .main_title {
      font-size: 5.625vw;
      padding: 3.125vw 0vw 0vw 4.375vw; }

.about .contents_block {
  padding: 2.5vw 0vw;
  width: 75%; }
  @media screen and (min-width: 1200px) {
    .about .contents_block {
      padding: 30px 0px; } }
  .about .contents_block .content_ul .content {
    position: relative;
    padding: 3.3333333333vw 0vw; }
    @media screen and (min-width: 1200px) {
      .about .contents_block .content_ul .content {
        padding: 40px 0px; } }
    .about .contents_block .content_ul .content .content_title {
      font-family: Devanagari Sangam MN;
      font-size: 2.5vw;
      padding: 0vw 0vw 2.5vw 0vw; }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_title {
          font-size: 30px; } }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_title {
          padding: 0px 0px 30px 0px; } }
    .about .contents_block .content_ul .content .content_sub_title {
      font-size: 1.6666666667vw;
      padding: 0vw 0vw 1vw 0vw; }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_sub_title {
          font-size: 20px; } }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_sub_title {
          padding: 0px 0px 12px 0px; } }
    .about .contents_block .content_ul .content .content_main {
      font-size: 1.3333333333vw;
      line-height: 2;
      width: 55.5%; }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_main {
          font-size: 16px; } }
      .about .contents_block .content_ul .content .content_main .main_ul li {
        display: flex; }
        .about .contents_block .content_ul .content .content_main .main_ul li .left_area {
          width: 26%; }
    .about .contents_block .content_ul .content .content_image {
      height: 25vw;
      max-height: 300px;
      width: 25vw;
      max-width: 300px;
      position: absolute;
      right: 0;
      top: 12%; }

/*# sourceMappingURL=index.css.map */
