.wrapper {
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.full_image {
  height: 100%;
  width: 100%; }

.no_wrap {
  white-space: nowrap; }

.white {
  color: #fff; }

.black {
  color: #000; }

.bg_white {
  background-color: #fff; }

.pc_only {
  display: block; }
  @media screen and (max-width: 769px) {
    .pc_only {
      display: none; } }

.pc_only_inline {
  display: inline; }
  @media screen and (max-width: 769px) {
    .pc_only_inline {
      display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 769px) {
    .sp_only {
      display: block; } }

.inline {
  display: inline; }

.bold {
  font-weight: bold; }

.no_bold {
  font-weight: 300; }

.flex {
  display: flex; }

.tac {
  text-align: center; }

.m0a {
  margin: 0 auto; }

.object_contain {
  object-fit: contain; }

.object_cover {
  object-fit: cover; }

.opacity0 {
  opacity: 0; }

.circle {
  border-radius: 50%; }

* {
  font-family: Hiragino Kaku Gothic ProN; }

.gold {
  color: #8b7246; }

a {
  color: black; }

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4.1666666667vw 0vw 0vw 0vw;
  font-family: Kinto Sans; }
  @media screen and (min-width: 1200px) {
    section {
      padding: 50px 0px 0px 0px; } }
  @media screen and (max-width: 1200px) {
    section {
      margin: 0vw 4.1666666667vw; } }

.fill {
  max-width: 100%;
  margin: 0; }

img {
  height: 100%;
  width: 100%; }

.title_block {
  position: relative;
  font-family: Copperplate;
  font-size: 3.3333333333vw;
  padding: 0vw 0vw 2.5vw 5.3333333333vw;
  border-bottom: 0.12vw gray solid; }
  @media screen and (min-width: 1200px) {
    .title_block {
      font-size: 40px; } }
  @media screen and (min-width: 1200px) {
    .title_block {
      padding: 0px 0px 30px 64px; } }
  @media screen and (min-width: 1200px) {
    .title_block {
      border-bottom: 2px gray solid; } }
  .title_block:before {
    position: absolute;
    bottom: 0;
    width: 64px;
    color: #8b7246;
    height: 0.12px; }
    @media screen and (min-width: 1200px) {
      .title_block:before {
        height: 2px; } }

header {
  position: fixed;
  font-family: Copperplate;
  font-size: 1.25vw;
  height: 6.25vw;
  max-height: none;
  width: 100%;
  z-index: 3; }
  header .header_list {
    height: 100%;
    padding: 0vw 5.625vw;
    text-align: center; }
    header .header_list ul {
      height: 100%;
      display: flex;
      align-items: center; }
      header .header_list ul li {
        padding: 0.3125vw 1.5625vw; }
        header .header_list ul li:hover {
          border-bottom: #8b7246 0.12vw solid; }

.kv {
  background-image: url("../img/kv_pc.png");
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 2; }
  .kv .text_block {
    font-family: Futura;
    position: absolute;
    bottom: 20%;
    left: 5%; }
    .kv .text_block .sub_title {
      font-size: 4.375vw; }
    .kv .text_block .main_title {
      font-size: 5.625vw;
      padding: 3.125vw 0vw 0vw 4.375vw; }

.about .contents_block {
  padding: 6.6666666667vw 0vw;
  width: 75%; }
  @media screen and (min-width: 1200px) {
    .about .contents_block {
      padding: 80px 0px; } }
  .about .contents_block .content_ul .content {
    position: relative;
    padding: 5.8333333333vw 0vw; }
    @media screen and (min-width: 1200px) {
      .about .contents_block .content_ul .content {
        padding: 70px 0px; } }
    .about .contents_block .content_ul .content .content_title {
      font-family: Devanagari Sangam MN;
      font-size: 2.5vw;
      padding: 0vw 0vw 2.5vw 0vw; }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_title {
          font-size: 30px; } }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_title {
          padding: 0px 0px 30px 0px; } }
    .about .contents_block .content_ul .content .content_sub_title {
      font-size: 1.6666666667vw;
      padding: 0vw 0vw 1vw 0vw; }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_sub_title {
          font-size: 20px; } }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_sub_title {
          padding: 0px 0px 12px 0px; } }
    .about .contents_block .content_ul .content .content_main {
      font-size: 1.3333333333vw;
      line-height: 2;
      width: 55.5%; }
      @media screen and (min-width: 1200px) {
        .about .contents_block .content_ul .content .content_main {
          font-size: 16px; } }
      .about .contents_block .content_ul .content .content_main .main_ul li {
        display: flex; }
        .about .contents_block .content_ul .content .content_main .main_ul li .left_area {
          width: 26%; }
    .about .contents_block .content_ul .content .content_image {
      height: 25vw;
      max-height: 300px;
      width: 25vw;
      max-width: 300px;
      position: absolute;
      right: 0;
      top: 12%; }

.skill .contents_block {
  width: 75%;
  padding: 9.1666666667vw 0vw; }
  @media screen and (min-width: 1200px) {
    .skill .contents_block {
      padding: 110px 0px; } }
  .skill .contents_block .content_area .content_ul {
    display: flex;
    justify-content: space-between; }
    .skill .contents_block .content_area .content_ul .content {
      width: 17.5vw;
      max-width: 210px; }
      .skill .contents_block .content_area .content_ul .content .content_title {
        font-family: Devanagari Sangam MN;
        font-size: 1.6666666667vw;
        padding: 2.9166666667vw 0vw; }
        @media screen and (min-width: 1200px) {
          .skill .contents_block .content_area .content_ul .content .content_title {
            font-size: 20px; } }
        @media screen and (min-width: 1200px) {
          .skill .contents_block .content_area .content_ul .content .content_title {
            padding: 35px 0px; } }
      .skill .contents_block .content_area .content_ul .content .content_image {
        height: 7.1666666667vw;
        max-height: 86px;
        width: 7.1666666667vw;
        max-width: 86px;
        margin: auto; }
        .skill .contents_block .content_area .content_ul .content .content_image img {
          object-fit: contain; }
      .skill .contents_block .content_area .content_ul .content .content_list {
        border: solid 1px gray;
        padding: 2vw 1.5vw 0vw 1.5vw;
        height: 14.1666666667vw;
        max-height: 170px;
        font-size: 1.3333333333vw; }
        @media screen and (min-width: 1200px) {
          .skill .contents_block .content_area .content_ul .content .content_list {
            padding: 24px 18px 0px 18px; } }
        @media screen and (min-width: 1200px) {
          .skill .contents_block .content_area .content_ul .content .content_list {
            font-size: 16px; } }
        .skill .contents_block .content_area .content_ul .content .content_list ul li:not(:last-of-type) {
          padding: 0vw 0vw 1.5vw 0vw; }
          @media screen and (min-width: 1200px) {
            .skill .contents_block .content_area .content_ul .content .content_list ul li:not(:last-of-type) {
              padding: 0px 0px 18px 0px; } }
  .skill .contents_block .bottom_sentence_area {
    font-size: 1.6666666667vw;
    padding: 8.3333333333vw 0vw 0vw 0vw;
    line-height: 1.7; }
    @media screen and (min-width: 1200px) {
      .skill .contents_block .bottom_sentence_area {
        font-size: 20px; } }
    @media screen and (min-width: 1200px) {
      .skill .contents_block .bottom_sentence_area {
        padding: 100px 0px 0px 0px; } }

.works .contents_block {
  width: 75%;
  margin: auto;
  padding: 13.3333333333vw 0vw; }
  @media screen and (min-width: 1200px) {
    .works .contents_block {
      padding: 160px 0px; } }
  .works .contents_block .content_area ul {
    display: flex;
    flex-wrap: wrap; }
    .works .contents_block .content_area ul .content {
      width: 50%;
      height: 25vw;
      max-height: 300px;
      position: relative; }
      .works .contents_block .content_area ul .content .content_image {
        width: 100%;
        height: 100%; }
        .works .contents_block .content_area ul .content .content_image img {
          object-fit: cover; }
      .works .contents_block .content_area ul .content .content_mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        color: white; }
        .works .contents_block .content_area ul .content .content_mask:hover {
          opacity: 1;
          background: rgba(0, 0, 0, 0.699); }
        .works .contents_block .content_area ul .content .content_mask .mask_title {
          font-size: 1.6666666667vw;
          padding: 2.5vw 0vw;
          text-align: center; }
          @media screen and (min-width: 1200px) {
            .works .contents_block .content_area ul .content .content_mask .mask_title {
              font-size: 20px; } }
          @media screen and (min-width: 1200px) {
            .works .contents_block .content_area ul .content .content_mask .mask_title {
              padding: 30px 0px; } }
        .works .contents_block .content_area ul .content .content_mask .mask_main {
          margin: auto;
          width: 75%;
          font-size: 1.3333333333vw;
          line-height: 1.6875; }
          @media screen and (min-width: 1200px) {
            .works .contents_block .content_area ul .content .content_mask .mask_main {
              font-size: 16px; } }
          .works .contents_block .content_area ul .content .content_mask .mask_main .bottom_text {
            padding: 2.5vw 0vw; }
            @media screen and (min-width: 1200px) {
              .works .contents_block .content_area ul .content .content_mask .mask_main .bottom_text {
                padding: 30px 0px; } }
  .works .contents_block .bottom_sentence_area {
    font-size: 1.6666666667vw;
    line-height: 1.7;
    padding: 7.5vw 0vw 0vw 0vw; }
    @media screen and (min-width: 1200px) {
      .works .contents_block .bottom_sentence_area {
        font-size: 20px; } }
    @media screen and (min-width: 1200px) {
      .works .contents_block .bottom_sentence_area {
        padding: 90px 0px 0px 0px; } }

.contact .contents_block {
  padding: 5vw 0vw;
  width: 75%;
  margin: auto; }
  @media screen and (min-width: 1200px) {
    .contact .contents_block {
      padding: 60px 0px; } }
  .contact .contents_block .sub_sentence {
    font-size: 1.6666666667vw;
    padding: 4.1666666667vw 0vw; }
    @media screen and (min-width: 1200px) {
      .contact .contents_block .sub_sentence {
        font-size: 20px; } }
    @media screen and (min-width: 1200px) {
      .contact .contents_block .sub_sentence {
        padding: 50px 0px; } }
  .contact .contents_block .main_sentence {
    font-size: 2.0833333333vw;
    line-height: 1.72;
    padding: 0vw 0vw 2.5vw 0vw; }
    @media screen and (min-width: 1200px) {
      .contact .contents_block .main_sentence {
        font-size: 25px; } }
    @media screen and (min-width: 1200px) {
      .contact .contents_block .main_sentence {
        padding: 0px 0px 30px 0px; } }

footer {
  background: #000;
  color: white;
  font-size: 1.1666666667vw;
  height: 5vw;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 1200px) {
    footer {
      font-size: 14px; } }

/*# sourceMappingURL=index.css.map */
