@import "default";
@import "variable";
@import "function";

* {
  font-family: Hiragino Kaku Gothic ProN;
}
.gold {
  color: $gold;
}

a {
  color: black;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  @include vwPaddingChangeFullMax(50, 0, 0, 0, $pcWidth);
  font-family: $kinto;
  @media screen and(max-width:1200px) {
    @include vwMarginChange(0, 50, $pcWidth);
  }
}

.p0 {
  padding: 0;
}

.fill {
  max-width: 100%;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
}
.load {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.load_mask1 {
  position: absolute;
  top: 0;
  background-color: black;
  height: 50vh;
  width: 100%;
  z-index: 1;
}
.load_mask2 {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 50vh;
  width: 100%;
  z-index: 1;
}
.load_line {
  height: 1px;
  width: 0%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $gold;
  z-index: 11;
}

.title_block {
  position: relative;
  font-family: $cop;
  @include vwFontChangeMax(40, $pcWidth);
  @include vwPaddingChangeFullMax(0, 0, 30, 64, $pcWidth);
  border-bottom: 0.12vw gray solid;
  @media screen and (min-width: 1200px) {
    border-bottom: 2px gray solid;
  }
  &:before {
    position: absolute;
    bottom: 0;
    width: 64px;
    color: $gold;
    @media screen and (min-width: 1200px) {
      height: 2px;
    }
    height: 0.12px;
  }
}

header {
  position: fixed;
  font-family: $cop;
  @include vwFontChange(20, 1600);
  @include vwHeightChange(100, 1600);
  width: 100%;
  z-index: 3;
  .header_list {
    height: 100%;
    @include vwPaddingChange(0, 90, 1600);
    text-align: center;
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      li {
        @include vwPaddingChange(5, 25, 1600);
        &:hover {
          border-bottom: $gold 0.12vw solid;
        }
      }
    }
  }
}
.kv {
  background-image: url("../img/kv_pc.png");
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 2;
  .text_block {
    font-family: $fut;
    position: absolute;
    bottom: 20%;
    left: 5%;
    z-index: 0;
    .sub_title {
      @include vwFontChange(70, 1600);
    }
    .main_title {
      @include vwFontChange(90, 1600);
      @include vwPaddingChangeFull(50, 0, 0, 70, 1600);
    }
  }
}

.about {
  .contents_block {
    @include vwPaddingChangeMax(80, 0, $pcWidth);
    width: 75%;
    .content_ul {
      .content {
        position: relative;
        @include vwPaddingChangeMax(70, 0, $pcWidth);
        .content_title {
          font-family: Devanagari Sangam MN;
          @include vwFontChangeMax(30, $pcWidth);
          @include vwPaddingChangeFullMax(0, 0, 30, 0, $pcWidth);
        }
        .content_sub_title {
          @include vwFontChangeMax(20, $pcWidth);
          @include vwPaddingChangeFullMax(0, 0, 12, 0, $pcWidth);
        }
        .content_main {
          @include vwFontChangeMax(16, $pcWidth);
          @include lineHeight(32, 16);
          width: 55.5%;
          .main_ul {
            li {
              display: flex;
              .left_area {
                width: 26%;
              }
            }
          }
        }
        .content_image {
          @include vwHeightChangeMax(300, $pcWidth);
          @include vwWidthChangeMax(300, $pcWidth);
          position: absolute;
          right: 0;
          top: 12%;
        }
      }
    }
  }
}

.skill {
  .contents_block {
    width: 75%;
    @include vwPaddingChangeMax(110, 0, $pcWidth);
    .content_area {
      .content_ul {
        display: flex;
        justify-content: space-between;
        .content {
          @include vwWidthChangeMax(210, $pcWidth);
          .content_title {
            font-family: Devanagari Sangam MN;
            @include vwFontChangeMax(20, $pcWidth);
            @include vwPaddingChangeMax(35, 0, $pcWidth);
          }
          .content_image {
            @include vwHeightChangeMax(86, $pcWidth);
            @include vwWidthChangeMax(86, $pcWidth);
            margin: auto;
            img {
              object-fit: contain;
            }
          }
          .content_list {
            border: solid 1px gray;
            @include vwPaddingChangeFullMax(24, 18, 0, 18, $pcWidth);
            @include vwHeightChangeMax(170, $pcWidth);
            @include vwFontChangeMax(16, $pcWidth);
            ul {
              li {
                &:not(:last-of-type) {
                  @include vwPaddingChangeFullMax(0, 0, 18, 0, $pcWidth);
                }
              }
            }
          }
        }
      }
    }
    .bottom_sentence_area {
      @include vwFontChangeMax(20, $pcWidth);
      @include vwPaddingChangeFullMax(100, 0, 0, 0, $pcWidth);
      @include lineHeight(34, 20);
    }
  }
}

.works {
  .contents_block {
    width: 75%;
    margin: auto;
    @include vwPaddingChangeMax(160, 0, $pcWidth);
    .content_area {
      ul {
        display: flex;
        flex-wrap: wrap;
        .content {
          width: 50%;
          @include vwHeightChangeMax(300, $pcWidth);
          position: relative;
          .content_image {
            width: 100%;
            height: 100%;
            img {
              object-fit: cover;
            }
          }
          .content_mask {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            color: white;
            &:hover {
              opacity: 1;
              background: rgba(0, 0, 0, 0.699);
            }
            .mask_title {
              @include vwFontChangeMax(20, $pcWidth);
              @include vwPaddingChangeMax(30, 0, $pcWidth);
              text-align: center;
            }

            .mask_main {
              margin: auto;
              width: 75%;
              @include vwFontChangeMax(16, $pcWidth);
              @include lineHeight(27, 16);
              .bottom_text {
                @include vwPaddingChangeMax(30, 0, $pcWidth);
              }
            }
          }
        }
      }
    }
    .bottom_sentence_area {
      @include vwFontChangeMax(20, $pcWidth);
      @include lineHeight(34, 20);
      @include vwPaddingChangeFullMax(90, 0, 0, 0, $pcWidth);
    }
  }
}

.contact {
  .contents_block {
    @include vwPaddingChangeMax(60, 0, $pcWidth);
    width: 75%;
    margin: auto;
    .sub_sentence {
      @include vwFontChangeMax(20, $pcWidth);
      @include vwPaddingChangeMax(50, 0, $pcWidth);
    }
    .main_sentence {
      @include vwFontChangeMax(25, $pcWidth);
      @include lineHeight(43, 25);
      @include vwPaddingChangeFullMax(0, 0, 30, 0, $pcWidth);
    }
  }
}

footer {
  background: #000;
  color: white;
  @include vwFontChangeMax(14, $pcWidth);
  @include vwHeightChangeMax(60, $pcWidth);
  display: flex;
  align-items: center;
  justify-content: center;
}
